<div class="container text-center">
    <hr>
    <marquee behavior="alternate"><h1>Welcome to the Maths App for children by Brijesh Singh!!!</h1></marquee>
    <hr>
    <h3>You have Magic Maths, Tables & Geometry to work with.</h3>
    <h5>Select any of the three options below.</h5>
    <button class="btn btn-success m-2" (click)="onSelect('magic')">Magic Maths</button>
    <button class="btn btn-success m-2" (click)="onSelect('tables')">Tables</button>
    <button class="btn btn-success m-2" (click)="onSelect('geo')">Geometry</button>
</div>