<div class="container text-center">
    <hr>
    <marquee behavior="alternate"><h1>A little Maths App for children by Brijesh Singh!!!</h1></marquee>
    <hr>
    <h2>You have Magic Maths, Tables & Geometry to work with.</h2>
    <h3>Select any of the three options below.</h3><br>
    <button class="btn btn-warning m-2" (click)="onSelect('magic')">Magic Maths</button>
    <button class="btn btn-warning m-2" (click)="onSelect('tables')">Tables</button>
    <button class="btn btn-warning m-2" (click)="onSelect('geo')">Geometry</button>
</div>